* {
  padding: 0;
  margin: 0;
}

ul, ol, li, a {
  text-decoration: none;
  list-style: none;
}

header nav {
  width: 100%;
  height: 80px;
  background-color: black;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .topnav {
  width: auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  gap: 70px;
}
header nav .topnav div {
  align-items: center;
  display: flex;
}
header nav .topnav div #basketlogo {
  margin-left: 20px;
}
header nav .topnav div i {
  color: rgb(133, 125, 125);
  font-size: 28px;
}
header nav .topnav div span {
  margin-left: 15px;
}
header nav .topnav div span a {
  color: rgb(143, 140, 140);
}
header nav .topnav ul {
  display: flex;
  gap: 40px;
}
header nav .topnav ul li a {
  color: white;
  font-size: 22px;
}

main .first_section {
  background-image: url(../images/bgimage1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .first_section .firstsectionmainbox {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 120px;
}
main .first_section .firstsectionmainbox #maintext {
  width: auto;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}
main .first_section .firstsectionmainbox #firstsectionitem {
  width: auto;
  height: auto;
  display: flex;
  gap: 100px;
  overflow: hidden;
}
main .first_section .firstsectionmainbox #firstsectionitem div {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
main .ekmeginasiluretiyoruz {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
main .ekmeginasiluretiyoruz .all {
  width: 70%;
  height: auto;
  margin-top: 50px;
  display: flex;
  overflow: hidden;
}
main .ekmeginasiluretiyoruz .all .all-left {
  width: 50%;
  height: auto;
  overflow: hidden;
}
main .ekmeginasiluretiyoruz .all .all-right {
  width: 50%;
  height: auto;
  overflow: hidden;
}
main .onsiparis {
  width: 100%;
  height: 450px;
  background-image: url(../images/d7323f_a81977b3dd8f477e87d610727057ace2_mv2.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

footer {
  width: 100%;
  height: 190px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
footer ul {
  display: flex;
  gap: 60px;
}
footer ul li a {
  color: white;
}
footer #instalogo {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}/*# sourceMappingURL=main.css.map */