main {
    .first_section {
        background-image: url(../images/bgimage1.jpg);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 950px;
        display: flex;
        justify-content: center;
        align-items: center;

        .firstsectionmainbox{
            width: auto;
            height: auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 120px;
            #maintext{
                width: auto;
                height: auto;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                display: flex;
            }
            #firstsectionitem{
                width: auto;
                height: auto;
                display: flex;
                gap: 100px;
                overflow: hidden;
                div{
                    width: 200px;
                    height: 200px;
                    border-radius: 100%;
                    background-color: rgb(255, 255, 255);
                    display: flex;align-items: center;justify-content: center;

                }
            }
        }
    }

    .ekmeginasiluretiyoruz{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        overflow: hidden;
        .all{
            width: 70%;
            height: auto;
            margin-top: 50px;
            display: flex;
            overflow: hidden;
            .all-left{
                width: 50%;
                height: auto;
                overflow: hidden;
            }
            .all-right{
                width: 50%;
                height: auto;
               overflow: hidden;
            }
        }
    }
    .onsiparis{
        width: 100%;
        height: 450px;
        background-image: url(../images/d7323f_a81977b3dd8f477e87d610727057ace2_mv2.png);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }

}